body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2C1E1E; /* Dark wine red */
}

.profilePage{
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}


#profileList{
    width: 50%;
    height: 100%;
    background-color: #5A2A27;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    text-align: center;
}


#searchFriend{
    background-color: #F4EAE6;
    /*background-image: url('/images/searchIcon.png');*/
    background-position: 1px 12px;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 98%;
    /*height: 100%;*/
    font-size: 16px;
    padding: 12px 4px 12px 1px;
    margin-bottom: 12px;
    background-color: white;

}


.delete, .edit{
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 6px;
}


.edit{
    background-color: lightgreen;
    color: white;
}

.delete{
    background-color: darkred;
    color: white;
}

h2{
    text-align: center;
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dark{
    color: #F4EAE6;
}

#userTable{
    width: 100%;
}

td:first-child{
    width: 33%;
}

td:nth-child(2){
    width: 80%;
}