html{
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
body{
    background-color: #2C1E1E;
    color: black;
}

.WelcomePage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    gap: 1rem; /* Add spacing between sections */
    padding: 1rem;
}
.center-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7B506F; /* Muted wine purple */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Subtle shadow */
}
