<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>


    <link th:href="@{/css/NavBar.css}" rel="stylesheet">
    <link th:href="@{/css/table.css}" rel="stylesheet">
    <link th:href="@{/css/adjustProfile.css}" rel="stylesheet">
    <script th:src="@{/js/adjustProfile.js}"></script>
    <script th:src="@{js/NavBar.js}"></script>
    <script th:src="@{js/Logout.js}"></script>

</head>
<body>

<div id="navbar"></div>

<div class="profilePage">
    <div id="profileList">
    <h2>Users</h2>
    <input type="text" id="searchFriend" placeholder="Search User List..." onkeyup="searchFriend()">
    <table id="userTable">
        <thead>
        <tr class="header">
            <th>User Id</th>
            <th>Username</th>
            <th>Role</th>
            <th>Delete User</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="users:${users}">
                <td th:text="${users.getId()}"></td>
                <td th:text="${users.getUsername()}"></td>
                <td th:text="${users.getRole()}"></td>
                <td>
                    <form th:action="@{'/delete/' + ${users.getId()} }" method="post">
                        <button class="delete">Delete</button>
                    </form>
                </td>

            </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>