<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link th:href="@{/css/NavBar.css}" rel="stylesheet">
  <link th:href="@{/css/Welcome-user.css}" rel="stylesheet">
  <link th:href="@{/css/table.css}" rel="stylesheet">
  <script th:src="@{/js/NavBar.js}"></script>
  <script th:src="@{js/Logout.js}"></script>
  <script th:src="@{js/Welcome.js}"></script>


</head>
<body>

<div id="navbar"></div>

<div class="WelcomePage">
  <!-- Left Section -->
  <div class="left-section"></div>

  <!-- Center Section -->
  <div class="center-section">
    <h2>Welcome, <span th:text="${username}"></span>!</h2>
  </div>

  <!-- Right Section -->
  <div class="right-section">
    <h2>Favorited Wines</h2>
    <table id="WineTable" class="WineTable">
      <thead>
      <tr class="Header">
        <th>Wine Id</th>
        <th>Wine Name</th>
        <th>Wine Description</th>
        <th>Remove?</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Very Yummy Wine</td>
        <td>Chardonnay is a green-skinned grape variety used in the production of white wine. The variety originated in the Burgundy wine region of eastern France, but is now grown wherever wine is produced, from England to New Zealand.</td>
        <td><button class="Remove" onclick="removeWine(this)">X</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Wine IS Good</td>
        <td>Merlot is a dark blue-colored wine grape variety, that is used as both a blending grape and for varietal wines. The name Merlot is thought to be a diminutive of merle, the French name for the blackbird, probably a reference to the color of the grape.</td>
        <td><button class="Remove" onclick="removeWine(this)">X</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Wine IS Good</td>
        <td>Merlot is a dark blue-colored wine grape variety, that is used as both a blending grape and for varietal wines. The name Merlot is thought to be a diminutive of merle, the French name for the blackbird, probably a reference to the color of the grape.</td>
        <td><button class="Remove" onclick="removeWine(this)">X</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Wine IS Good</td>
        <td>Merlot is a dark blue-colored wine grape variety, that is used as both a blending grape and for varietal wines. The name Merlot is thought to be a diminutive of merle, the French name for the blackbird, probably a reference to the color of the grape.</td>
        <td><button class="Remove" onclick="removeWine(this)">X</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Wine IS Good</td>
        <td>Merlot is a dark blue-colored wine grape variety, that is used as both a blending grape and for varietal wines. The name Merlot is thought to be a diminutive of merle, the French name for the blackbird, probably a reference to the color of the grape.</td>
        <td><button class="Remove" onclick="removeWine(this)">X</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Wine IS Good</td>
        <td>Merlot is a dark blue-colored wine grape variety, that is used as both a blending grape and for varietal wines. The name Merlot is thought to be a diminutive of merle, the French name for the blackbird, probably a reference to the color of the grape.</td>
        <td><button class="Remove" onclick="removeWine(this)">X</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Wine IS Good</td>
        <td>Merlot is a dark blue-colored wine grape variety, that is used as both a blending grape and for varietal wines. The name Merlot is thought to be a diminutive of merle, the French name for the blackbird, probably a reference to the color of the grape.</td>
        <td><button class="Remove" onclick="removeWine(this)">X</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>