<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link th:href="@{/css/NavBar.css}" rel="stylesheet">
  <link th:href="@{/css/Welcome-user.css}" rel="stylesheet">
  <link th:href="@{/css/table.css}" rel="stylesheet">
  <script th:src="@{/js/NavBar.js}"></script>
  <script th:src="@{js/Logout.js}"></script>
  <script th:src="@{js/Welcome.js}"></script>


</head>
<body>

<div id="navbar"></div>

<div class="WelcomePage">
  <!-- Left Section -->

  <!-- Center Section -->
  <div class="center-section">
    <h2>Welcome, <span th:text="${user.username}"></span>!</h2>
  </div>

  <!-- Right Section -->
  <div class="right-section">
    <h2>Favorited Wines</h2>
    <table id="WineTable" class="WineTable">
      <thead>
      <tr class="Header">
        <th>Wine Id</th>
        <th>Wine Name</th>
        <th>Wine Description</th>
        <th>Remove?</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="wine:${wineList}">
        <td th:text="${wine.getId()}"></td>
        <td th:text="${wine.getWineName()}"></td>
        <td th:text="${wine.getWineDesc()}"></td>
        <td>
          <form th:action="@{'/removeFavorite/' + ${wine.id}}" method="post">
            <button class="Remove">X</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>