<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link th:href="@{/css/NavBar.css}" rel="stylesheet">
    <link th:href="@{/css/friend.css}" rel="stylesheet">
    <link th:href="@{/css/table.css}" rel="stylesheet">
    <script th:src="@{js/friend.js}"></script>
    <script th:src="@{js/NavBar.js}"></script>
    <script th:src="@{js/Logout.js}"></script>

</head>
<body>

<div id="navbar"></div>


<div class="friendPage">
    <div id="friendInfo">
        <h2 class="dark">Friend Info</h2>
        <h3 style="text-align: center; color: #F4EAE6;">Selected friend info</h3>
        <table id="friendInfoTable">
            <tr class="header">
                <th>User Id</th>
                <th>Username</th>
            </tr>
            <tr id="infoRow">

            </tr>
        </table>
    </div>

<div id="friendList">
    <h2>Friends</h2>
    <input type="text" id="searchFriend" placeholder="Search Friend List..." onkeyup="searchFriend()">
    <table id="friendTable">
       <thead>
           <tr class="header">
                <th>User Id</th>
                <th>Username</th>
            </tr>
       </thead>
        <tbody>
        <tr onclick="showFriendInfo(this, 1)" th:each="friend:${userFriend}" >
            <td th:text="${friend.friend.getId()}"></td>
            <td th:text="${friend.friend.getUsername()}"></td>
        </tbody>
    </table>
</div>

<div id="friendRequest">
    <h2>Friend Requests</h2>
    <table>
        <thead>
            <tr class="header">
                <th>User Id</th>
                <th>Username</th>
                <th>accept</th>
                <th>decline</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="request:${requests}" >
                <td th:text="${request.sender.getId()}"></td>
                <td th:text="${request.sender.getUsername()}"></td>
                <td>
                    <form th:action="@{'/accept/' + ${request.getId()} }" method="post">
                        <button class="accept">Accept</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{'/decline/' + ${request.getId()}}" method="post">
                        <button class="decline">Decline</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

</body>
</html>
