<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="">
<head>
  <title>Login</title>
  <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<h2 id="loginHeader">Login</h2>
<div class="loginForm">
<form action="/" method="post">
  <label>Username:</label>
  <input type="text" name="username" required><br><br>

  <label>Password:</label>
  <input type="password" name="password" required><br><br>

  <button id="loginButton" type="submit">Login</button>
</form>

<form action="/RegisterPage" method="get">
      <button id="newAccount" type="submit">Don't Have an Account?</button>
</form>
</div>

<p id="error" style="color: red;" th:text="${error}"></p>
</body>
</html>

