<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="">
<head>
  <title>Register For Account</title>
  <link th:href="@{/css/Register.css}" rel="stylesheet">
</head>
<body>

<div id="registerForm">
  <h2>Register A New Account</h2>

  <form action="/RegisterUser" th:object="${user}" method="post">
    <label>Username:</label>
    <input type="text" th:field="*{username}" placeholder="Enter your username" required><br><br>

    <label>Password:</label>
    <input type="password" th:field="*{password}" placeholder="Enter your password" required><br><br>

    <label>Account Type:</label>
    <select th:field="*{role}" class="accountType">
      <option value="ADMIN">Admin</option>
      <option value="USER">User</option>
      <option value="SOMMELIER">Sommelier</option>
      <option value="STAKEHOLDER">Stakeholder</option>
      <option value="MODERATOR">Moderator</option>
    </select><br><br>

    <button type="submit">Create Account</button>
  </form>

  <form action="/Dash" method="get">
    <button id="Back to Admin" type="submit">Back to Dashboard</button>
  </form>

  <p style="color: red;" th:text="${error}"></p>
</div>
</body>
</html>