<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link th:href="@{/css/NavBar.css}" rel="stylesheet">
    <link th:href="@{/css/registerFriend.css}" rel="stylesheet">
    <script th:src="@{/js/NavBar.js}"></script>
    <script th:src="@{/js/registerFriend.js}"></script>
    <script th:src="@{js/Logout.js}"></script>


</head>
<body>

<div id="navbar"></div>

<div id="mainDiv">
    <div id="registerFriendDiv">
        <h1>Register Friend</h1>
        <form action="/requestFriend" id="addFriendForm" autocomplete="off" method="post" th:object="${friendRequest}" >
            <input type="text"  th:field="*{username}"id="friendName" placeholder="Friend's Name" required>

            <input type="submit" id="registerFriendButton"  value="Send Request"></input>
        </form>
    </div>
</div>
</body>
</html>