<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link th:href="@{/css/registerFriend.css}" rel="stylesheet">
    <link th:href="@{/css/NavBar.css}" rel="stylesheet">
    <script th:src="@{/js/NavBar.js}"></script>
    <script th:src="@{/js/registerFriend.js}"></script>
</head>
<body>

<nav>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Services</a>

    <!-- Dropdown Menu -->
    <div class="dropdown" id="friendDropdown">
        <button class="dropbtn" id="dropbtn">Friends</button>
        <div class="dropdown-content" id="dropdownContent">
            <a href="#">Friend Requests</a>
            <a href="/friendPage">Current Friends</a>
            <a href="#">Find Friends</a>
        </div>
    </div>

    <a href="#">Contact</a>
</nav>

<div id="mainDiv">
    <div id="registerFriendDiv">
        <h1>Register Friend</h1>
        <form id="addFriendForm" autocomplete="off">
            <input type="text" id="friendName" placeholder="Friend's Name" required>

            <button id="registerFriendButton" onclick="requestSent()">Register</button>
        </form>
    </div>
</div>
</body>
</html>