<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

    <<link th:href="@{/css/NavBar.css}" rel="stylesheet">
    <link th:href="@{/css/reportBug.css}" rel="stylesheet">
    <script th:src="@{js/NavBar.js}"></script>

</head>
<body>

<div id="navbar"></div>


    <div id="mainDiv">
        <div id="reportDiv">
            <h1>Report Bug</h1>
            <form id="reportForm" autocomplete="off">
                <div id="descriptionDiv">
                    <input type="text" id="bugDescription"  name="bugDescription" placeholder="Bug Description" required>
                    <button id="reportBugButton">Report</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>