<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link th:href="@{/css/NavBar.css}" rel="stylesheet">
  <link th:href="@{/css/RequestedWines.css}" rel="stylesheet">
  <link th:href="@{/css/table.css}" rel="stylesheet">
  <script th:src="@{js/RequestedWines.js}"></script>
  <script th:src="@{js/NavBar.js}"></script>
  <script th:src="@{js/Logout.js}"></script>

</head>
<body>

<div id="navbar"></div>


<div class="winePage">
  <div id="wineInfo">
    <h2 class="dark">Wine Info</h2>
    <h3 style="text-align: center; color: #F4EAE6;">Selected Wine info</h3>
    <table id="wineInfoTable">
      <tr class="header">
        <th>Wine</th>
        <th>Description</th>
      </tr>
      <tr id="infoRow">

      </tr>
    </table>
  </div>

  <div id="wineList">
    <h2>Current Winelist</h2>
    <input type="text" id="searchwine" placeholder="Search Requested Wines..." onkeyup="searchFriend()">
    <table id="wineTable">
      <thead>
        <tr class="header">
          <th class="wineListHead">Wine Name</th>
          <th class="wineListHead">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr onclick="showwineInfo(this, 1)" th:each="wine:${Wines}" >
          <td th:text="${wine.getWineName()}"></td>
          <td th:text="${wine.getWineDesc()}"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="wineRequest">
    <h2 class="dark">Wine Requests</h2>
    <table>
      <thead>
        <tr class="header">
          <th class="requestHead">Wine Name</th>
          <th class="requestHead">Wine Description</th>
          <th class="requestHead">decline</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="request:${Requests}" >
          <td class="requestBody" th:text="${request.getWineName()}"></td>
          <td class="requestBody" th:text="${request.getWineDesc()}"></td>
          <td class="requestBody">
            <form th:action="@{'/declineWine/' + ${request.getId()}}" method="post">
              <button class="decline">Decline</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>