<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link th:href="@{/css/Welcome.css}" rel="stylesheet">
</head>
<body>

<ul class="topnav">
  <li><a class="active" th:href="@{/welcome(username=${username})}">Home</a></li>
  <li><a href="/friendPage" >Friends</a></li>
  <li><a href="#contact">Contact</a></li>
  <li class="right"><a href="#about">About</a></li>
</ul>

<div style="padding:0 16px;">
  <h2>Welcome, <span th:text="${username}"></span>!</h2>
  <p>You have successfully logged in.</p>
  <p style="color: red;" th:text="${error}"></p>
</div>

</body>
</html>
