<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>

  <link th:href="@{/css/NavBar.css}" rel="stylesheet">
  <link th:href="@{/css/Wine-request.css}" rel="stylesheet">
  <script th::src="@{/js/NavBar.js}"></script>

</head>
<body>

<div id="navbar"></div>


<div class = "WinePage">
  <div class = "Center">
    <h2>Request a Wine</h2>
    <form action="/request" method="post">
      <label for="wineName">Wine Name:</label><br>
      <input type="text" id="wineName" name="wineName"><br>
      <label for="wineDescription">Wine Description:</label><br>
      <input type="text" id="wineDescription" name="wineDescription"><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>






</body>
</html>