<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

    <link th:href="@{/css/NavBar.css}" rel="stylesheet">
    <link th:href="@{/css/wineSearch.css}" rel="stylesheet">
    <link th:href="@{/css/table.css}" rel="stylesheet">
    <script th:src="@{js/NavBar.js}"></script>
    <script th:src="@{js/wineSearch.js}"></script>
    <script th:src="@{js/Logout.js}"></script>
    <script th:src="@{js/SubmitSearch.js}"></script>

</head>
<body>

<div id="navbar"></div>

<div id="mainDiv">
    <div id="searchDiv">
        <h1>Search Wine</h1>
        <form id="searchForm" autocomplete="off">
            <div id="extras">
                <label id="countryLabel" for="wineCountry"><h3>Country:</h3></label>
                <select id="wineCountry" name="wineCountry">
                    <option value="">All</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Australia">Australia</option>
                    <option value="Austria">Austria</option>
                    <option value="Chile">Chile</option>
                    <option value="France">France</option>
                    <option value="Germany">Germany</option>
                    <option value="Italy">Italy</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Portugal">Portugal</option>
                    <option value="South Africa">South Africa</option>
                    <option value="Spain">Spain</option>
                    <option value="USA">USA</option>
                </select>

                <label id="provinceLabel" for="wineProvince"><h3>Province:</h3></label>
                <select id="wineProvince" name="wineProvince">
                    <option value="">All</option>
                    <option value="California">California</option>
                    <option value="Northern Spain">Northern Spain</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Provence">Provence</option>
                    <option value="Northeastern Italy">Northeastern Italy</option>
                    <option value="Southwest France">Southwest France</option>
                    <option value="Kumeu">Kumeu</option>
                    <option value="Washington">Washington</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Tuscany">Tuscany</option>
                    <option value="France Other">France Other</option>
                    <option value="Rhône Valley">Rhône Valley</option>
                    <option value="Galicia">Galicia</option>
                    <option value="Andalucia">Andalucia</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Burgundy">Burgundy</option>
                    <option value="Loire Valley">Loire Valley</option>
                    <option value="New York">New York</option>
                    <option value="Mendoza Province">Mendoza Province</option>
                    <option value="Victoria">Victoria</option>
                    <option value="Alentejano">Alentejano</option>
                    <option value="Piedmont">Piedmont</option>
                    <option value="Alentejo">Alentejo</option>
                    <option value="Champagne">Champagne</option>
                    <option value="Upper Galilee">Upper Galilee</option>
                    <option value="Beira Atlantico">Beira Atlantico</option>
                    <option value="Veneto">Veneto</option>
                    <option value="Douro">Douro</option>
                    <option value="Tejo">Tejo</option>
                    <option value="Stellenbosch">Stellenbosch</option>
                    <option value="Levante">Levante</option>
                    <option value="Sicily & Sardinia">Sicily & Sardinia</option>
                    <option value="Southern Italy">Southern Italy</option>
                    <option value="Languedoc-Roussillon">Languedoc-Roussillon</option>
                    <option value="Bordeaux">Bordeaux</option>
                    <option value="Atalanti Valley">Atalanti Valley</option>
                    <option value="Catalonia">Catalonia</option>
                    <option value="Santorini">Santorini</option>
                    <option value="Florina">Florina</option>
                    <option value="Marchigue">Marchigue</option>
                    <option value="Colchagua Valley">Colchagua Valley</option>
                    <option value="Curicó Valley">Curicó Valley</option>
                    <option value="Nemea">Nemea</option>
                    <option value="Maule Valley">Maule Valley</option>
                    <option value="Alsace">Alsace</option>
                    <option value="Guerrouane">Guerrouane</option>
                    <option value="Colinele Dobrogei">Colinele Dobrogei</option>
                    <option value="Central Spain">Central Spain</option>
                    <option value="Vinho Verde">Vinho Verde</option>
                    <option value="Mosel">Mosel</option>
                    <option value="Rheinhessen">Rheinhessen</option>
                    <option value="Golan Heights">Golan Heights</option>
                    <option value="Württemberg">Württemberg</option>
                    <option value="Ahr">Ahr</option>
                    <option value="British Columbia">British Columbia</option>
                    <option value="Moldova">Moldova</option>
                    <option value="Spain Other">Spain Other</option>
                    <option value="Sopron">Sopron</option>
                    <option value="Other">Other</option>
                    <option value="Walker Bay">Walker Bay</option>
                    <option value="Dão">Dão</option>
                    <option value="Italy Other">Italy Other</option>
                    <option value="Duriense">Duriense</option>
                    <option value="Ontario">Ontario</option>
                    <option value="Beiras">Beiras</option>
                    <option value="Tokaji">Tokaji</option>
                    <option value="Lisboa">Lisboa</option>
                    <option value="Thermenregion">Thermenregion</option>
                    <option value="Burgenland">Burgenland</option>
                    <option value="Carnuntum">Carnuntum</option>
                    <option value="Rheingau">Rheingau</option>
                    <option value="Nahe">Nahe</option>
                    <option value="South Australia">South Australia</option>
                    <option value="North Dalmatia">North Dalmatia</option>
                    <option value="Thracian Valley">Thracian Valley</option>
                    <option value="Goriska Brda">Goriska Brda</option>
                    <option value="Western Cape">Western Cape</option>
                    <option value="Overberg">Overberg</option>
                    <option value="Robertson">Robertson</option>
                    <option value="Galilee">Galilee</option>
                    <option value="Maipo Valley">Maipo Valley</option>
                    <option value="Casablanca Valley">Casablanca Valley</option>
                    <option value="Cachapoal Valley">Cachapoal Valley</option>
                    <option value="Terras do Dão">Terras do Dão</option>
                    <option value="Leyda Valley">Leyda Valley</option>
                    <option value="Peumo">Peumo</option>
                    <option value="Baden">Baden</option>
                    <option value="Limarí Valley">Limarí Valley</option>
                    <option value="Lombardy">Lombardy</option>
                    <option value="Peloponnese">Peloponnese</option>
                    <option value="Judean Hills">Judean Hills</option>
                    <option value="Tasmania">Tasmania</option>
                    <option value="Bairrada">Bairrada</option>
                    <option value="Simonsberg-Paarl">Simonsberg-Paarl</option>
                    <option value="Portuguese Table Wine">Portuguese Table Wine</option>
                    <option value="Beaujolais">Beaujolais</option>
                    <option value="Península de Setúbal">Península de Setúbal</option>
                    <option value="Aconcagua Valley">Aconcagua Valley</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Dealurile Munteniei">Dealurile Munteniei</option>
                    <option value="Serbia">Serbia</option>
                    <option value="Lebanon">Lebanon</option>
                    <option value="Macedonia">Macedonia</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Romania">Romania</option>
                    <option value="Hungary">Hungary</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Egypt">Egypt</option>
                    <option value="China">China</option>
                    <option value="Japan">Japan</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="Tunisia">Tunisia</option>
                </select>

                <label id="varietyLabel" for="wineVariety"><h3>Variety:</h3></label>
                <select id="wineVariety" name="wineVariety">
                    <option value="">All</option>
                    <option value="Cabernet Sauvignon">Cabernet Sauvignon</option>
                    <option value="Tinta de Toro">Tinta de Toro</option>
                    <option value="Sauvignon Blanc">Sauvignon Blanc</option>
                    <option value="Pinot Noir">Pinot Noir</option>
                    <option value="Provence red blend">Provence red blend</option>
                    <option value="Friulano">Friulano</option>
                    <option value="Tannat">Tannat</option>
                    <option value="Chardonnay">Chardonnay</option>
                    <option value="Tempranillo">Tempranillo</option>
                    <option value="Malbec">Malbec</option>
                    <option value="Rosé">Rosé</option>
                    <option value="Tempranillo Blend">Tempranillo Blend</option>
                    <option value="Syrah">Syrah</option>
                    <option value="Mavrud">Mavrud</option>
                    <option value="Sangiovese">Sangiovese</option>
                    <option value="Sparkling Blend">Sparkling Blend</option>
                    <option value="Rhône-style White Blend">Rhône-style White Blend</option>
                    <option value="Red Blend">Red Blend</option>
                    <option value="Mencía">Mencía</option>
                    <option value="Palomino">Palomino</option>
                    <option value="Petite Sirah">Petite Sirah</option>
                    <option value="Riesling">Riesling</option>
                    <option value="Cabernet Sauvignon-Syrah">Cabernet Sauvignon-Syrah</option>
                    <option value="Portuguese Red">Portuguese Red</option>
                    <option value="Nebbiolo">Nebbiolo</option>
                    <option value="Pinot Gris">Pinot Gris</option>
                    <option value="Meritage">Meritage</option>
                    <option value="Baga">Baga</option>
                    <option value="Glera">Glera</option>
                    <option value="Malbec-Merlot">Malbec-Merlot</option>
                    <option value="Merlot-Malbec">Merlot-Malbec</option>
                    <option value="Ugni Blanc-Colombard">Ugni Blanc-Colombard</option>
                    <option value="Viognier">Viognier</option>
                    <option value="Cabernet Sauvignon-Cabernet Franc">Cabernet Sauvignon-Cabernet Franc</option>
                    <option value="Moscato">Moscato</option>
                    <option value="Pinot Grigio">Pinot Grigio</option>
                    <option value="Cabernet Franc">Cabernet Franc</option>
                    <option value="White Blend">White Blend</option>
                    <option value="Monastrell">Monastrell</option>
                    <option value="Gamay">Gamay</option>
                    <option value="Zinfandel">Zinfandel</option>
                    <option value="Greco">Greco</option>
                    <option value="Barbera">Barbera</option>
                    <option value="Grenache">Grenache</option>
                    <option value="Rhône-style Red Blend">Rhône-style Red Blend</option>
                    <option value="Albariño">Albariño</option>
                    <option value="Malvasia Bianca">Malvasia Bianca</option>
                    <option value="Assyrtiko">Assyrtiko</option>
                    <option value="Malagouzia">Malagouzia</option>
                    <option value="Carmenère">Carmenère</option>
                    <option value="Bordeaux-style Red Blend">Bordeaux-style Red Blend</option>
                    <option value="Touriga Nacional">Touriga Nacional</option>
                    <option value="Agiorgitiko">Agiorgitiko</option>
                    <option value="Picpoul">Picpoul</option>
                    <option value="Godello">Godello</option>
                    <option value="Gewürztraminer">Gewürztraminer</option>
                    <option value="Merlot">Merlot</option>
                    <option value="Syrah-Grenache">Syrah-Grenache</option>
                    <option value="G-S-M">G-S-M</option>
                    <option value="Mourvèdre">Mourvèdre</option>
                    <option value="Bordeaux-style White Blend">Bordeaux-style White Blend</option>
                    <option value="Petit Verdot">Petit Verdot</option>
                    <option value="Muscat">Muscat</option>
                    <option value="Chenin Blanc-Chardonnay">Chenin Blanc-Chardonnay</option>
                    <option value="Cabernet Sauvignon-Merlot">Cabernet Sauvignon-Merlot</option>
                    <option value="Pinot Bianco">Pinot Bianco</option>
                    <option value="Alvarinho">Alvarinho</option>
                    <option value="Portuguese White">Portuguese White</option>
                    <option value="Garganega">Garganega</option>
                    <option value="Sauvignon">Sauvignon</option>
                    <option value="Gros and Petit Manseng">Gros and Petit Manseng</option>
                    <option value="Tannat-Cabernet">Tannat-Cabernet</option>
                    <option value="Alicante Bouschet">Alicante Bouschet</option>
                </select>

            </div>


            <label for="wineDescription"><h2>Description:</h2></label>
            <div id="descriptionDiv">
                <input type="text" id="wineDescription" name="wineDescription" placeholder="Wine Description" required/>
                <button type="button" id="searchWineButton" onClick="submitWineDescription()">Search</button>
            </div>
        </form>
        <div>
            <table id="wineTable">
                <thead>
                <tr class="header">
                    <th>Wine Name</th>
                    <th>Winery</th>
                    <th>Country</th>
                    <th>Province</th>
                </tr>
                </thead>
                <tbody id="wineTableBody">

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

<!--<tr th:each="wine : $">
                    <td th:text="${wines.wine_name}">Wine Name</td>
                    <td th:text="${wines.winery}">Winery</td>
                    <td th:text="${wines.country}">Country</td>
                    <td th:text="${province}">Province</td>
                </tr>-->